<app-header></app-header>
<div class="container-fluid mt-2">
    <div class="row row-eq-height">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row mt-3">
          <div class="col-12">
            <div class="card">
              <div class="card-title">
                <h3 class="text-center">KPI Entry</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 text-right">
                    <span class="text-right">
                      <button class="btn btn-primary" [routerLink]="['', 'chart']">KPI Chart</button>
                    </span>
                  </div>
                </div>
                <form [formGroup]="dropDownFormGroup">
                  <div class="form-group">
                    <label for="employeeName">Employee Name</label>
                    <input type="text" class="form-control" id="employeeName" placeholder="Employee Name" formControlName="empName">
                  </div>
                    <div class="form-group">
                      <label for="department">Department</label>
                      <select class="form-control" name="department" id="department" formControlName="department">
                        <option value="-1">Select Value</option>
                        <option *ngFor="let option of getHeaders(availabledepartments)" [value]="option">{{availabledepartments[option].title}}</option>
                      </select>
                    </div>
                    <div class="form-group"  *ngIf="dropDownFormGroup.get('department').value != '-1'">
                      <label for="kpiValue">KPI</label>
                      <select class="form-control" name="kpiValue" id="kpiValue" formControlName="kpiValue">
                        <option value="-1">Select Value</option>
                        <option *ngFor="let option of getHeaders(availabledepartments[dropDownFormGroup.get('department').value].kpiValues)" [value]="option">{{availabledepartments[dropDownFormGroup.get('department').value].kpiValues[option].title}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="numerator">Numerator</label>
                      <input class="form-control" validation validator="decimal" type="text" name="numerator" id="numerator" formControlName="numerator">
                    </div>
                    <div class="form-group">
                      <label for="denominator">Denominator</label>
                      <input class="form-control" validation validator="decimal" type="text" name="denominator" id="denominator" formControlName="denominator">
                    </div>
                    <div class="form-group">
                      <label for="insertedDate">Date</label>
                      <div class="form-group">
                        <div class="input-group">
                          <input type="text" class="form-control" formControlName="insertedDate" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig">
                          <div class="input-group-btn">
                            <button class="btn btn-success"
                                    (click)="dp.show()"
                                    [attr.aria-expanded]="dp.isOpen"
                                    type="button">
                              <i class="fa fa-calendar"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group text-center">
                      <button class="btn btn-warning" style="margin: 2rem 10px 0 0;" role="button" (click)="resetFormGroup()">Reset</button>
                      <button class="btn btn-primary" style="margin-top: 2rem;" role="submit" (click)="submitDropDownForm()">Submit</button>
                    </div>
                    <div class="row" *ngIf="showChartText">
                      <div class="col-12">
                        Do you want to go to Chat ?
                        <button class="btn btn-primary" (click)="goToChart()">Charts</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-1 text-center">
        <div class="vl"></div>
      </div>
      <div class="col-5 mh-60">
        <app-emp-list></app-emp-list>
      </div> -->
    </div>
  </div>
